.title {
  text-align: center;
}

.svg-test {
  background-image: url('https://res.cloudinary.com/ninjaofawesome/image/upload/v1501072154/hannah/happy.svg');
  background-size: 100%;
  height: 100px;
  width: 100px;

  &--small {
    background-image: url('https://res.cloudinary.com/ninjaofawesome/image/upload/v1501072154/hannah/happy.svg');
    background-size: 100%;
    height: 50px;
    width: 50px;
  }

  &--large {
    background-image: url('https://res.cloudinary.com/ninjaofawesome/image/upload/v1501072154/hannah/happy.svg');
    background-size: 100%;
    height: 150px;
    width: 150px;
  }
}